<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <img src="assets/consulting/artur-portrait.jpg" alt="" />
      </div>
      <div class="content-article content-article-main col-sm-7 col-xs-12">
        <p class="content-article-secondary-heading">Kostenlose professionelle Beratung</p>
        <h2 class="content-article-heading">Der Chef Artur Drozd ist persönlich für Sie da<span class="colored">!</span></h2>
        <p class="content-article-text">
          Mit seiner langjährigen Erfahrung berät Sie Interior Designer und
          Chefrestaurator Artur Drozd persönlich bei Ihrem Vorhaben und
          Geschmacksvorstellungen.
        </p>
        <p class="content-article-text bold">
          Verabreden Sie jetzt einen Termin über Telefon oder E-Mail!
        </p>
        <button class="button button-primary">
          +49 173 636 0461
        </button>
        <button class="button button-secondary">
          <a href="mailto:info@zeitlos-artd.de">info@zeitlos-artd.de</a>
        </button>
      </div>
    </div>
  </div>
</section>

