h2 {
  font-size: 3.8em;
}
.lead {
  font-size: 1.3em;
  margin: 0.1em 0 1em 0;
}
button {
  padding: .8em 1.2em;
}

p.highlighted {
  margin-bottom: 0;
}
p {
  margin-bottom: 3em;
}
button {
  margin-top: .6em;
}
.rounded {
  width: 80%;
}
