<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="assets/img/artur.png" alt="" />
      </div>

      <div class="col-sm-7">
        <p class="highlighted grey">Kostenlose professionelle Beratung</p>
        <h2 class="mn">Lassen Sie sich beraten<span class="colored">!</span></h2>
        <p class="lead grey">Mit seiner langjährigen Erfahrung berät Sie Interior Designer und Chefrestaurator Artur Drozd persönlich bei Ihrem Vorhaben und Geschmacksvorstellungen. Rufen Sie jetzt an und verabreden unverbindlich einen Termin.</p>

        <div class="row">
          <div class="col-sm-6">
            <span class="highlighted grey">Telefonnummer</span>
            <button class="button button-primary">
              +49 173 636 0461
            </button>
          </div>
          <div class="col-sm-6">
            <span class="highlighted grey">Mail Adresse</span>
            <button class="button button-secondary">
              info@zeitlos-artd.de
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

