<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <img class="rounded" src="assets/consulting/artur-portrait.jpg" alt="" />
      </div>

      <div class="col-sm-7 col-xs-12">
        <p class="highlighted grey">Kostenlose professionelle Beratung</p>
        <h2 class="mn">Chef Artur Drozd ist persönlich für Sie da<span class="colored">!</span></h2>
        <p class="lead grey">Mit seiner langjährigen Erfahrung berät Sie Interior Designer und Chefrestaurator Artur Drozd persönlich bei Ihrem Vorhaben und Geschmacksvorstellungen. Rufen Sie jetzt an oder verabreden Sie git einen Termin.</p>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <span class="highlighted grey">Telefonnummer</span>
            <button class="button button-primary">
              +49 173 636 0461
            </button>
          </div>
          <div class="col-sm-6 col-xs-12">
            <span class="highlighted grey">Mail Adresse</span>
            <button class="button button-secondary">
              info@zeitlos-artd.de
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

