<div class="container">
  <div class="row">

    <nav class="main-nav">
      <div class="main-nav__section-info col-xs-12 col-sm-4">
        <!--<img src="parent-brand.png" alt="Logo von Artur Drozd Möbelmanufaktur" />-->
        <!--<a href="#">-->
          <!--<img class="parent-brand" src="assets/icons/parent-logo.png" alt="Logo " />-->
        <!--</a>-->

        <div class="main-nav__section-brand main-brand">
          <a class="bold" href="#">Zeitlos<span class="colored">.</span></a>
          <!--<span>Objekte des 20. Jahrhunderts</span>-->
          <span class="bold grey">+49 0172 / 525 25 31</span>
        </div>
      </div>

      <div class="main-nav__section col-xs-12 col-sm-8 float-right">
        <div class="main-nav__section-sites">
          <!-- Sites -->
          <ul class="main-nav__list nav-sites">
            <li>
              <a href="javascript:;;" [routerLink]="[ '/' ]" routerLinkActive="active">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="javascript:;;" [routerLink]="[ '/products/alle-produkte' ]" routerLinkActive="active">Objekte</a>
            </li>
          </ul>
        </div>
        <div class="main-nav__section-personal">
          <!-- Icons -->
          <ul class="main-nav__list nav-personal">
            <li>
              <a href="javascript:;;" [routerLink]="['/products/favourite-products']">
                <i class="nav-icon fa fa-heart">
                  <span class="round-badge"> {{productService.navbarFavProdCount}}</span>
                </i>
              </a>
            </li>
            <li>
              <a href="javascript:;;" [routerLink]="['/products/cart-items']">
                <i class="nav-icon fa fa-shopping-cart">
                  <span class="round-badge"> {{productService.navbarCartCount}}</span>
                </i>
              </a>
            </li>
            <!--<li class="active">-->
              <!--<a href="javascript:;;">-->
                <!--<i class="fa fa-envelope"></i> Kontakt-->
                <!--<span class="sr-only">(current)</span>-->
              <!--</a>-->
            <!--</li>-->
            <li *ngIf="authService.isLoggedIn()">
              <a [routerLink]="['/users']">
                <i class="nav-icon fa fa-user"></i>
                <!--Mein Konto-->
              </a>
            </li>
            <li *ngIf="!authService.isLoggedIn()">
              <a [routerLink]="[ '/index/login' ]">
                <i class="nav-icon fa fa-sign-in"></i>
                <!--Login/ Registration-->
              </a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
              <a (click)="logout()">
                <i class="nav-icon fa fa-sign-in"></i>
                <!--Logout-->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
