$font-color-inactive: #626262;

.container {
  position: relative;
}
.main-nav {
  font-size: 1.1em;
  margin-top: 1em;

  &__section {
    overflow: visible;
    margin-top: 0.7em;
    &-sites {
      display: inline-block;
    }
    &-personal {
      display: inline-block;
      overflow: visible;
      .nav-icon {
        font-size: 1.4em;
        position: relative;
        top: .1em;
      }
    }
  }


  &__list {
    display: inline;
    padding-left: 0;
    li {
      display: inline;
      margin: 0 .5em;
      position: relative;
      a {
        text-decoration: none;
        color: $font-color-inactive;
        text-transform: uppercase;
        font-weight: bold;

        &.active {
          color: #d31111;
        }
      }
    }
  }

  .parent-brand {
    max-height: 50px;
    width: auto;
  }

  .nav-info {
    i {
      margin-right: .5em;
    }
  }

  .nav-sites {

  }

  .nav-personal {
    li {

    }
  }

  .main-brand {
    a {
      margin-right: .5em;
      font-size: 2em;
      display: inline;
      color: black;
      text-transform: uppercase;
      position: relative;
      top: .1em;
    }
    span {
      font-size: .9em;
    }
  }
}
