<div class="container">
  <nav class="main-nav">
    <div class="main-nav__section-info">
      <!--<img src="parent-brand.png" alt="Logo von Artur Drozd Möbelmanufaktur" />-->
      <a href="#">
        <img class="parent-brand" src="assets/icons/parent-logo.png" alt="Logo " />
      </a>

      <ul class="main-nav__list nav-info">
        <li>
          <i class="fa fa-phone"></i>
          <span>00 49 0172 / 525 25 31</span>
        </li>
        <!--<li>-->
          <!--<i class="fa fa-envelope"></i>-->
          <!--<span>info@zeitlos-artd.de</span>-->
        <!--</li>-->
      </ul>
    </div>

    <div class="main-nav__section-brand main-brand">
      <a href="#">Zeitlos</a>
      <span>Objekte des 20. Jahrhunderts</span>
    </div>

    <div class="main-nav__section">
      <div class="main-nav__section-sites">
        <!-- Sites -->
        <ul class="main-nav__list nav-sites">
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/' ]">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="javascript:;;" [routerLink]="[ '/products/all-products' ]">Objekte</a>
          </li>
        </ul>
      </div>
      <div class="main-nav__section-personal">
        <!-- Icons -->
        <ul class="main-nav__list nav-personal">
          <li>
            <a href="javascript:;;" [routerLink]="['/products/favourite-products']">
              <i class="nav-icon fa fa-heart">
                <span class="round-badge"> {{productService.navbarFavProdCount}}</span>
              </i>
            </a>
          </li>
          <li>
            <a href="javascript:;;" [routerLink]="['/products/cart-items']">
              <i class="nav-icon fa fa-shopping-cart">
                <span class="round-badge"> {{productService.navbarCartCount}}</span>
              </i>
            </a>
          </li>
          <!--<li class="active">-->
            <!--<a href="javascript:;;">-->
              <!--<i class="fa fa-envelope"></i> Kontakt-->
              <!--<span class="sr-only">(current)</span>-->
            <!--</a>-->
          <!--</li>-->
          <li *ngIf="authService.isLoggedIn()">
            <a [routerLink]="['/users']">
              <i class="nav-icon fa fa-user"></i>
              <!--Mein Konto-->
            </a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink]="[ '/index/login' ]">
              <i class="nav-icon fa fa-sign-in"></i>
              <!--Login/ Registration-->
            </a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a (click)="logout()">
              <i class="nav-icon fa fa-sign-in"></i>
              <!--Logout-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
