<!--<section class="content-section" style="background-image: '../../../assets/category-teaser/{{path}}'">-->
<section class="content-section"
         [ngStyle]="{backgroundImage: 'url(/assets/category-teaser/' + path + '.png)'}">


  <div class="container">
    <h1>Produkte</h1>
    <p class="highlighted">
      <a routerLink="/index">Home</a> > {{path}}
    </p>
  </div>
</section>



<!--<div [style.background-image]="'url(/img/' + item.img + ')'"-->

<!--<div [style.background-image]="'url(/img/' + item.img + ')'"-->
     <!--[style.width.px]="200" [style.height.px]="150p"></div>-->
