h2 {
  margin-top: .3em;
}
p.highlighted {
  color: red !important;
}
.content-section {
  padding: 1em 0;
  //background-image: url("../../../assets/category-teaser/Tische.png");
  background-repeat: no-repeat;
  background-position: right;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}
