<h1>Lieferadresse</h1>
<form class="form" #userDetailsForm="ngForm" (ngSubmit)="updateUserDetails(userDetailsForm)">
  <input type="text" [(ngModel)]="userDetail.firstName" name="firstName" placeholder="Vorname"
         required>
  <input type="text" [(ngModel)]="userDetail.lastName" name="lastName" placeholder="Nachname"
         required>
  <input type="text" [(ngModel)]="userDetail.address1" name="address1" placeholder="Straße und Hausnummer"
         required>
  <input type="text" [(ngModel)]="userDetail.address2" name="address2" placeholder="Adresszusatz">
  <input type="text" [(ngModel)]="userDetail.zip" name="zip" placeholder="Postleitzahl">
  <input type="text" [(ngModel)]="userDetail.city" name="city" placeholder="Stadt">
  <input type="tel" name="phone" [(ngModel)]="user.phoneNumber"
         autocomplete="phone" placeholder="Telefonnummer">

  <button class="button button-primary" type="submit">Weiter</button>
</form>
