<app-product-list-intro
  [path]="path">

</app-product-list-intro>
<section>
  <div class="container">
    <button *ngIf="authService.isAdmin()" class="button button-add-item float-right" type="button" (click)="toggleAddProducts()">
      <span *ngIf="!this.addProducts">Objekt hinzufügen</span>
      <span *ngIf="this.addProducts">Objekt löschen</span>
    </button>

    <!-- Side column -->
    <div *ngIf="!showAddProducts && !showUpdateProducts">
      <div class="col-sm-3 col-xs-12 filter">
        <h2>Kategorien</h2>
        <ul class="list">
          <li><a routerLink="/produkte/alle-produkte" routerLinkActive="active">Alle</a></li>
          <li><a routerLink="/produkte/Tische" routerLinkActive="active">Tische</a></li>
          <li><a routerLink="/produkte/Lampen" routerLinkActive="active">Lampen</a></li>
          <li><a routerLink="/produkte/Stühle" routerLinkActive="active">Stühle</a></li>
          <li><a routerLink="/produkte/Sessel" routerLinkActive="active">Sessel</a></li>
          <li><a routerLink="/produkte/Schränke" routerLinkActive="active">Schränke</a></li>
          <li><a routerLink="/produkte/Sofas" routerLinkActive="active">Sofas</a></li>
        </ul>

      </div>
      <div class="col-sm-9 col-xs-12">

          <!-- List of Products -->
          <div class="item col-sm-4 col-xs-12" *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 5, currentPage: page }">
            <!--Card-->
            <div class="card">
              <!--Item image-->
              <a [routerLink]="['/produkte/product', product.$key]">
                <img [src]="'../../../src/assets/products/product-' + product.productId + '-1.jpg'" alt="">
              </a>
              <!--/.Item image-->
              <!--Card content-->
              <div class="item-body text-center no-padding">
                <!--Category & Title-->
                <p class="title">
                  <strong>
                    <a [routerLink]="['/produkte/product', product.$key]" routerLinkActive="router-link-active">{{ product.productName }}</a>
                  </strong>
                  <span *ngIf="product.productDesigner && product.productDesigner != '-'" class="sub-title">von {{product.productDesigner}}</span>
                </p>
                <p class="price">
                  € {{ product.productPrice }}
                </p>
                <!--Card footer-->
                <div class="item-footer">
                  <span class="left">Sofort lieferbar</span>
                  <span class="right">
                    <a (click)="addFavourite(product)">
                      <i class="fa fa-heart"></i>
                    </a>
                    <a (click)="addToCart(product)">
                      <i class="fa fa-shopping-cart"></i>
                    </a>
                    <a *ngIf="authService.isAdmin()" (click)="toggleUpdateProduct(product.$key, product)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </div>

              </div>
              <!--/.Card content-->

            </div>
              <!--/.Card-->

          </div>
        <!--/.Card-->
      </div>
      <!-- Pagination -->
      <div class="float-right">
        <pagination-controls (pageChange)="page = $event" previousLabel="Zurück" nextLabel="Nächste"></pagination-controls>
      </div>
    </div>
    <app-add-product *ngIf="showAddProducts"></app-add-product>
    <app-update-product [key]="keyToUpdate" [product]="productToUpdate" *ngIf="showUpdateProducts"></app-update-product>
  </div>

</section>

