h2 {
  margin: 0 0 .5em 0;
}

.item {
  height: 45vh;
  padding-bottom: 5vh;

  @media (min-width: 680px) {
    img {
      height: 275px;
      width: 275px;
      object-fit: cover;
    }
  }
}
.card {
  margin-left: 1.5em;
}
.title {
  margin-bottom: .3em;

  strong a{
    color: black;
  }
}
.sub-title {
  display: block;
}

.price {
  font-weight: bold;
  margin: .3em 0;
}

.item .item-footer .left {
  float: left;
  font-weight: bold;
  color: #2c8441;
}

.item .item-footer .right {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;

  a:hover {
    color: darken(#e2e2e2, 27%);
  }
}



.item .item-footer .right a.active {
  color: #d50000;
}
.item .item-footer .right a {
  margin-left: 1em;
}

.item .item-footer .right a .fa-heart {
  color: #d31111;
}

// Other
.button-add-item {
  position: relative;
  bottom: 2.5vh;
}

.filter {
  background-color: #f6f6f6;
  padding-left: 1em;
  padding-top: 1em;
  margin-right: 2em;
  width: 20%;
  ul li a{
    &:hover {
      color: lighten(#333333, 40%);
    }
  }
  .active {
    color: black;
  }
}

button {
  margin-bottom: -2.5vh;
}
