@import '../../../variables';

h2 {
  margin: 0 0 .5em 0;
}

.item {
  min-height: 500px;
  padding-bottom: 5vh;
  position: relative;
  overflow: hidden;
  margin: 1em auto;

  @media (min-width: 576px) {
    margin: 0;

    .img-wrapper {
      position: relative;
      display: block;
      border-top: 1px solid darken(#e2e2e2, 5%);
      border-right: 1px solid darken(#e2e2e2, 5%);
      border-left: 1px solid darken(#e2e2e2, 5%);
    }
    img {
      //height: 275px;
      //width: 275px;
      object-fit: cover;
      bottom: 0;
      -webkit-transition: bottom .5s; /* Safari */
      transition: box-shadow .5s;

      width: 100%;
      height: auto;
      max-height: 369px;

      &:hover {
        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      &:hover {
        //bottom: 3em; experimental hover animation. May optimize later. Probably not though
        //position: relative;
      }
      @media(min-width: 576px) {
        width: auto;
        //width: 342px;
        //height: 342px;
        height: auto;
        margin-left: 0;

        width: 100%;
        height: auto;
        max-height: 369px;

      }
      @media(min-width: 768px) {
        width: 275px;
        height: 275px;

        width: 100%;
        height: auto;
        max-height: 369px;

      }
    }
    .hidden-element {
      display: none;
      position: absolute;
      bottom: 1em;
      width: 100%;
      color: lighten(#e2e2e2, 8%);
      text-align: center;
      height: 2em;
      background: #d31111;
    }
  }
}
.card {
  @media (min-width: 576px) {
    margin-left: 0;
  }
  @media (min-width: 770px) {
    margin-right: 1.5em;
  }
}
.title {
  margin-bottom: .3em;

  strong a{
    color: black;
  }
}
.sub-title {
  display: block;
}

.price {
  font-weight: bold;
  font-size: 1em;
  margin: .3em 0;
}
.discount {
  font-size: 1.2em;
  margin-right: .5em;
  font-weight: bold;
  color: #d31111;
}

.item .item-footer .left {
  float: left;
  font-weight: bold;
  color: #2c8441;
}

.item .item-footer .right {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;

  a:hover {
    color: darken(#e2e2e2, 27%);
  }
}

.item .item-footer .right a.active {
  color: #d50000;
}
.item .item-footer .right a {
  margin-left: 1em;
}

.item .item-footer .right a .fa-heart {
  color: #d31111;
}

// Other
.button-add-item {
  position: relative;
  bottom: 2.5vh;
}

button {
  margin-bottom: -2.5vh;
}

.product-filter {
  margin-bottom: 2em;
  padding: 0;

  h2 {
    font-size: $font-size-h3;
    padding-left: 1em;
    margin: 0.5em;
  }

  &:hover {
    ul li {
      display: block;
      line-height: 2.6em;
    }
  }
  ul {
    padding-left: 1.5em;
    position: absolute;
    background: $gray;
    width: 12em;
    z-index: 1020;
    margin-top: 0;
    border: 1px solid $color-medium;

    li {
      display: none;
    }
  }
}
