<app-product-list-intro
  [path]="path">
</app-product-list-intro>

<section>
  <div class="container">
    <!-- Side column -->
    <div class="row">
      <div class="filter-section">

        <div *ngIf="!showAddProducts && !showUpdateProducts" class="col-xs-6 col-sm-3 md-hide">
          <h2>Sortiere nach: </h2>
        </div>

        <!--For smaller screens-->
        <div *ngIf="!showAddProducts && !showUpdateProducts" class="col-xs-6 col-sm-3 md-hide">
          <div class="product-filter">
            <h2>Kategorien &#9660;</h2>
            <ul class="list">
              <li><a routerLink="/produkte/alle-produkte" routerLinkActive="active">Alle</a></li>
              <li><a routerLink="/produkte/Tische" routerLinkActive="active">Tische</a></li>
              <li><a routerLink="/produkte/Lampen" routerLinkActive="active">Lampen</a></li>
              <li><a routerLink="/produkte/Stühle" routerLinkActive="active">Stühle</a></li>
              <li><a routerLink="/produkte/Sessel" routerLinkActive="active">Sessel</a></li>
              <li><a routerLink="/produkte/Schränke" routerLinkActive="active">Schränke</a></li>
              <li><a routerLink="/produkte/Sofas" routerLinkActive="active">Sofas</a></li>
              <li><a routerLink="/produkte/Regale" routerLinkActive="active">Regale</a></li>
              <li><a routerLink="/produkte/Gemälde" routerLinkActive="active">Gemälde</a></li>
              <li><a routerLink="/produkte/Gläser" routerLinkActive="active">Gläser</a></li>
              <li><a routerLink="/produkte/Vasen" routerLinkActive="active">Vasen</a></li>
            </ul>
          </div>
        </div>
        <div *ngIf="authService.isAdmin()">
          <button class="button button-add-item float-right" type="button" (click)="toggleAddProducts()">
            <span *ngIf="!this.showAddProducts">Objekt hinzufügen</span>
            <span *ngIf="this.showAddProducts">Objekt löschen</span>
          </button>
        </div>
      </div>

      <!--for bigger screens TODO: remove code duplication -->
      <div *ngIf="!showAddProducts && !showUpdateProducts" class="xs-hide sm-hide col-md-3">
        <div class="box">
          <h2>Kategorien</h2>
          <ul class="list">
            <li><a routerLink="/produkte/alle-produkte" routerLinkActive="active">Alle</a></li>
            <li><a routerLink="/produkte/Tische" routerLinkActive="active">Tische</a></li>
            <li><a routerLink="/produkte/Lampen" routerLinkActive="active">Lampen</a></li>
            <li><a routerLink="/produkte/Stühle" routerLinkActive="active">Stühle</a></li>
            <li><a routerLink="/produkte/Sessel" routerLinkActive="active">Sessel</a></li>
            <li><a routerLink="/produkte/Schränke" routerLinkActive="active">Schränke</a></li>
            <li><a routerLink="/produkte/Sofas" routerLinkActive="active">Sofas</a></li>
            <li><a routerLink="/produkte/Regale" routerLinkActive="active">Regale</a></li>
            <li><a routerLink="/produkte/Gemälde" routerLinkActive="active">Gemälde</a></li>
            <li><a routerLink="/produkte/Gläser" routerLinkActive="active">Gläser</a></li>
            <li><a routerLink="/produkte/Vasen" routerLinkActive="active">Vasen</a></li>
          </ul>
        </div>
      </div>

      <div *ngIf="!showAddProducts && !showUpdateProducts" class="col-xs-12 col-sm-12 col-md-9">

        <!-- List of Products -->
        <div class="item-wrapper" *ngFor="let product of productList.slice().reverse() | filterByBrand: selectedBrand | paginate: { itemsPerPage: 12, currentPage: page }">
          <div *ngIf="authService.isAdmin() || product.productActive" class="item col-xs-12 col-sm-6">
            <!--Card-->
            <div class="card">
              <!--Item image-->
              <a class="img-wrapper" [routerLink]="['/produkte/produkt', product.$key]">
                <div *ngIf="product.productSold" class="corner-ribbon shadow top-right red">Verkauft</div>
                <span *ngIf="product.productDiscount !== 0" class="discount-badge">-{{product.productDiscount}}%</span>
                <img [src]="product.productImageUrl" alt="product.productImageAlt">
                <span class="hidden-element">Details ansehen!</span>
              </a>
              <!--/.Item image-->
              <!--Card contents-->
              <div class="item-body text-center no-padding">
                <!--Category & Title-->
                <p class="title">
                  <strong>
                    <a [routerLink]="['/produkte/produkt', product.$key]" routerLinkActive="router-link-active">{{ product.productName }}</a>
                  </strong>
                  <span *ngIf="product.productDesigner && product.productDesigner != '-'" class="sub-title">von {{product.productDesigner}}</span>
                  <span *ngIf="!product.productDesigner || product.productDesigner === '-'" class="sub-title"><br /></span>
                </p>
                <p class="price">
                  <span *ngIf="product.productDiscount !== 0" class="discount">{{product.productPrice - (product.productPrice * (product.productDiscount/100))}} €</span>
                  <span [class.linethrough]="product.productDiscount !== 0">{{ product.productPrice }} €</span>
                </p>
                <!--Card footer-->
                <div class="item-footer">
                  <span *ngIf="product.productAvailable === true" class="left">Sofort lieferbar</span>
                  <span class="right">
                    <a (click)="addFavourite(product)">
                      <i class="fa fa-heart"></i>
                    </a>
                    <a (click)="addToCart(product)">
                      <i class="fa fa-shopping-cart"></i>
                    </a>
                    <a *ngIf="authService.isAdmin()" (click)="toggleUpdateProduct(product.$key, product)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div *ngIf="!showAddProducts && !showUpdateProducts" class="float-right">
        <pagination-controls (click)="moveToTop()" (pageChange)="page = $event" previousLabel="Zurück" nextLabel="Nächste"></pagination-controls>
      </div>
    </div>
    <app-add-product *ngIf="showAddProducts"></app-add-product>
    <app-update-product (updated)="removeUpdateForm($event)" [key]="keyToUpdate" [product]="productToUpdate" *ngIf="showUpdateProducts"></app-update-product>
  </div>

</section>

<app-service-list></app-service-list>
