h2 {
  margin: 0 0 .5em 0;
}

.item {
  //height: 45vh;
  min-height: 420px;
  padding-bottom: 5vh;
  position: relative;
  overflow: hidden;

  @media (min-width: 680px) {
    .img-wrapper {
      position: relative;
      display: block;
      border-top: 1px solid darken(#e2e2e2, 5%);
      border-right: 1px solid darken(#e2e2e2, 5%);
      border-left: 1px solid darken(#e2e2e2, 5%);
    }
    img {
      height: 275px;
      width: 275px;
      object-fit: cover;
      bottom: 0;
      -webkit-transition: bottom .5s; /* Safari */
      //transition: bottom .5s;
      transition: box-shadow .5s;
      &:hover {
        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      &:hover {
        //bottom: 3em; experimental hover animation. May optimize later. Probably not though
        //position: relative;
      }
    }
    .hidden-element {
      display: none;
      position: absolute;
      bottom: 1em;
      width: 100%;
      color: lighten(#e2e2e2, 8%);
      text-align: center;
      height: 2em;
      background: #d31111;
    }
  }
}
.card {
  margin-left: 1.5em;
}
.title {
  margin-bottom: .3em;

  strong a{
    color: black;
  }
}
.sub-title {
  display: block;
}

.price {
  font-weight: bold;
  font-size: 1em;
  margin: .3em 0;
}
.discount {
  font-size: 1.2em;
  margin-right: .5em;
  font-weight: bold;
  color: #d31111;
}

.item .item-footer .left {
  float: left;
  font-weight: bold;
  color: #2c8441;
}

.item .item-footer .right {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;

  a:hover {
    color: darken(#e2e2e2, 27%);
  }
}

.item .item-footer .right a.active {
  color: #d50000;
}
.item .item-footer .right a {
  margin-left: 1em;
}

.item .item-footer .right a .fa-heart {
  color: #d31111;
}

// Other
.button-add-item {
  position: relative;
  bottom: 2.5vh;
}

.filter {
  background-color: #f6f6f6;
  padding-left: 1em;
  padding-top: 1em;
  margin-right: 2em;
  width: 20%;
  ul li a{
    &:hover {
      color: lighten(#333333, 40%);
    }
  }
}

button {
  margin-bottom: -2.5vh;
}

