<app-product-list-intro></app-product-list-intro>
<section>
  <div class="container">
    <button *ngIf="authService.isAdmin()" class="button button-add-item float-right" type="button" (click)="toggleAddProducts()">
      Objekt hinzufügen
    </button>

    <!-- Side column -->
    <div *ngIf="!addProducts">
      <div class="col-sm-3">
        <h2>Kategorien</h2>
        <!-- TODO -->
        <label for="brand_select">Kategorien:</label>
        <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
        </select>
        <!--<ul class="list">-->
          <!--<li>Tische</li>-->
          <!--<li>Stühle</li>-->
          <!--<li class="active">Vitrinen</li>-->
          <!--<li>Schränke</li>-->
          <!--<li>Kommoden</li>-->
          <!--<li>Sideboards</li>-->
        <!--</ul>-->

      </div>
      <div class="col-sm-9">

          <!-- List of Products -->
          <div class="item col-sm-4" *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 6, currentPage: page }">
            <!--Card-->
            <div class="card">
              <!--Item image-->
              <a [routerLink]="['/products/product', product.$key]">
                <img src="assets/products/product-122.jpg" alt="">
              </a>
              <!--/.Card image-->
              <!--Card content-->
              <div class="item-body text-center no-padding">
                <!--Category & Title-->
                <p class="title">
                  <strong>
                    <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{ product.productName }}</a>
                  </strong>
                  <span class="sub-title">von Rudolf Vichr</span>
                </p>
                <p class="price">
                  € {{ product.productPrice }}
                </p>
                <!--Card footer-->
                <div class="item-footer">
                  <span class="left">Sofort lieferbar</span>
                  <span class="right">
                    <a (click)="addFavourite(product)">
                      <i class="fa fa-heart"></i>
                    </a>
                    <a (click)="addToCart(product)">
                      <i class="fa fa-shopping-cart"></i>
                    </a>
                    <a *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </div>

              </div>
              <!--/.Card content-->

            </div>
              <!--/.Card-->

          </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        <!--/.Card-->
      </div>
    </div>
    <app-add-product *ngIf="addProducts"></app-add-product>
  </div>

</section>
