<nav class="main-nav container">
  <a class="navbar-brand" href="#">Zeitlos</a>



  <ul class="navbar-nav">
    <li>
      <a href="javascript:;;" [routerLink]="['/products/favourite-products']">
        <i class="fa fa-heart">
          <span class="mt-2"> {{productService.navbarFavProdCount}}</span>
        </i>
      </a>
    </li>
    <li>
      <a href="javascript:;;" [routerLink]="['/products/cart-items']">
        <i class="fa fa-shopping-cart">
          <span class="mt-2"> {{productService.navbarCartCount}}</span>
        </i>
      </a>
    </li>
    <li class="active">
      <a href="javascript:;;">
        <i class="fa fa-envelope"></i> Kontakt
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a [routerLink]="['/users']">
        <i class="fa fa-user"></i> Account</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isLoggedIn()">
      <a [routerLink]="[ '/index/login' ]">
        <i class="fa fa-sign-in"></i>Login/ Registration</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn()">
      <a (click)="logout()">
        <i class="fa fa-sign-in"></i>Logout</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="javascript:;;" [routerLink]="[ '/' ]">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li>
      <a href="javascript:;;" [routerLink]="[ '/products/all-products' ]">Objekte</a>
    </li>
  </ul>
</nav>
