<form #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)">
  <label for="productName">Objekt Name</label>
  <input type="text" id="productName" name="productName" [(ngModel)]="product.productName"
   placeholder="Name des Objekts (z.B. '1930er Art Deco Sideboard von Jiri Jiroutek')" value="" required>
  <div class="invalid-feedback">
    Objekt name benötigt.
  </div>

  <!-- Kategorie -->
  <label for="productCategory">Kategorie</label>
  <input type="text" id="productCategory" name="productCategory" [(ngModel)]="product.productCategory"
    placeholder="Kategorie" value="" required>
  <div class="invalid-feedback">
    Kategorie benötigt.
  </div>

  <!-- Material -->
  <label for="productMaterial">Material und Technik</label>
  <input type="text" id="productMaterial" name="productMaterial" [(ngModel)]="product.productMaterial"
         placeholder="Material und Arbeitstechnik (z.B. 'vernickeltes Stahlrohr, Kufen schwarz polliert, neu gepolstert')" value="">

  <!-- Size -->
  <label for="productSize">Maße</label>
  <input type="text" id="productSize" name="productSize" [(ngModel)]="product.productSize"
         placeholder="Maße im Format Breite cm x Höhe cm x Tiefe cm (z.B. '145 cm x 75 cm x 77,5 cm') bzw. Höhe cm x Durchmesser cm (z.B. '35cm x Ø 20 cm')" value="">

  <!-- Style -->
  <label for="productStyle">Stil</label>
  <input type="text" id="productStyle" name="productStyle" [(ngModel)]="product.productStyle"
         placeholder="Stil (z.B. 'Bauhaus' oder 'Art Deco')" value="">

  <!-- Origin -->
  <label for="productOrigin">Herkunftsland</label>
  <input type="text" id="productOrigin" name="productOrigin" [(ngModel)]="product.productOrigin"
         placeholder="Herkunftsland" value="">

  <!-- Manufacturer -->
  <label for="productManufacturer">Hersteller</label>
  <input type="text" id="productManufacturer" name="productManufacturer" [(ngModel)]="product.productManufacturer"
         placeholder="Hersteller / Manufakteur" value="">

  <!-- Designer -->
  <label for="productDesigner">Designer</label>
  <input type="text" id="productDesigner" name="productDesigner" [(ngModel)]="product.productDesigner"
         placeholder="Designer" value="">

  <!-- Jahr -->
  <label for="productTime">Jahr</label>
  <input type="text" id="productTime" name="productTime" [(ngModel)]="product.productTime"
         placeholder="Jahr (z.B. '1930er' oder '1934')" value="">

  <!-- Condition -->
  <label for="productCondition">Zustand</label>
  <input type="text" id="productCondition" name="productCondition" [(ngModel)]="product.productCondition"
         placeholder="Zustand (z.B. 'Exzellenter Zustand, neu restauriert')" value="">

  <!-- Description -->
  <div>
    <label for="productDescription">Beschreibung
    </label>
    <textarea type="text" id="productDescription" placeholder="Allgemein gehaltene Beschreibung zum Objekt" name="productDescription"
      [(ngModel)]="product.productDescription"></textarea>
  </div>

  <!-- Price -->
  <label for="productPrice">Preis</label>
  <input type="number" name="productPrice" [(ngModel)]="product.productPrice" placeholder="Preis"
    id="productPrice" value="" required>
  <div class="invalid-feedback">
    Preis benötigt.
  </div>

  <!-- Bild -->
  <div>
    <label for="productImageUrl">Bildpfad</label>
    <input type="text" id="productImageUrl" [(ngModel)]="product.productImageUrl" name="productImageUrl"
      placeholder="Bildpfad (z.B. 'product-112.jpg')" required>
  </div>


  <button class="float-right" type="submit">Hinzufügen</button>
</form>
