@import '../../../../variables';

.checkout-list-image {
  width: 100%;
  height: auto;

  @media(min-width: $md) {
    width: 13em;
  }
}
.item-list {
  padding-left: 0;
}
.item{
  list-style-type: none;

  &-image {

  }
  &-title {
    strong {
      font-size: 2em;
    }
  }
  &-price {

  }
}
.button {
  float: right;
}
