<h1>Übersicht</h1>
<ul class="item-list">
  <li class="item row" *ngFor="let product of checkoutProducts">
    <div class="item-image col-sm-3">
      <img class="checkout-list-image" [src]="product.productImageUrl" [alt]="product.productName">
    </div>
    <div class="item-title col-sm-6">
      <strong>{{product.productName}}</strong>
      <p>{{product.productDescription}}</p>
    </div>
    <div class="item-price col-sm-3">
      Preis:
      {{product.productPrice}} €
    </div>
  </li>
</ul>
<p>
  <span>Gesamt: </span>
  <strong>{{totalPrice}} €</strong>
</p>

<div class="">
    <a class="button" [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['shipping-details']}}]" routerLinkActive="active">Weiter</a>
</div>
