<section>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-3">
        <i class="fa fa-3x fa-info"></i>
        <h4>Individuelle Beratung</h4>
        <p>
          Geschmacksfragen, Empfehlungen oder Beratung? Unser Interior Designer berät Sie vor dem Kauf gerne.
        </p>
      </div>

      <div class="col col-xs-12 col-sm-3">
        <i class="fa fa-smile-beam"></i>
        <i class="fa fa-3x fa-truck"></i>
        <h4>Kostenlos Probestellen</h4>
        <p>
          Unentschlossen? Lassen Sie sich Ihr Wunschobjekt unverbindlich probestellen und entscheiden Sie dann.
        </p>
      </div>

      <div class="col col-xs-12 col-sm-3">
        <i class="fa fa-3x fa-paper-plane"></i>
        <h4>Schneller Versand</h4>
        <p>
          Kein Pakete-Wahnsinn. Unsere Spedition sorgt für die unbeschädigte Ankuft IhrerLieferung als Ganzes.
        </p>
      </div>

      <div class="col col-xs-12 col-sm-3">
        <i class="fa fa-3x fa-star"></i>
        <h4>Qualitätsgarantie</h4>
        <p>
          Kommt es wider Erwarten zu Mängeln am Objekt, kümmern wir uns selbstverständlich darum.
        </p>
      </div>
    </div>
  </div>
</section>
