<section class="container">
  <div class="row">
    <!-- Login form -->
    <div class="col-sm-6">
      <form class="form" #loginForm="ngForm" (ngSubmit)="signInWithEmail(loginForm)">
        <h2>Bereits bei Zeitlos Kunde?</h2>

        <!--<i class="fa fa-envelope"></i>-->
        <input type="email" id="loginEmailId" name="emailId" [(ngModel)]="user.emailId"
          [email]="true" autocomplete="email" placeholder="E-Mail Adresse">
        <!--<label for="emailId">E-Mail Adresse</label>-->

        <br /><!-- TODO-->

        <!--<i class="fa fa-lock"></i>-->
        <input type="password" id="loginPassword" name="loginPassword" [(ngModel)]="user.loginPassword" class="form-control" mdbActive
          autocomplete="current-password" placeholder="Passwort">


        <!--<label for="defaultForm-pass">Passwort</label>-->

        <div class="space-between">
          <button type="submit" class="button button-primary" id="loginButton">
            Anmelden
          </button>

          <button type="button" class="button" (click)="signInWithGoogle()">
            <!--<i class="fa fa-google" aria-hidden="true"></i>-->
            Google-Anmeldung
          </button>
        </div>

      </form>
    </div>
    <div class="col-sm-6">

      <form class="form" #userForm="ngForm" (ngSubmit)="addUser(userForm)">
        <h3>Neu bei Zeitlos?
          <!--<a data-toggle="modal" data-target="#createUserForm" style="color:dodgerblue">Registrieren Sie sich hier!</a>-->
        </h3>
        <!--<h4><i class="fa fa-user-plus"></i> Registrieren</h4>-->

        <div class="alert alert-danger" role="alert" *ngIf="errorInUserCreate">
          {{errorMessage.message}}
        </div>
        <!--<i class="fa fa-envelope prefix"></i>-->
        <input mdbActive type="email" id="emailId" name="emailId" [(ngModel)]="createUser.emailId"
          [email]="true" autocomplete="email" placeholder="E-Mail Adresse">
        <!--<label for="emailId">E-Mail Adresse</label>-->

        <br> <!-- TODO -->

        <!--<i class="fa fa-lock prefix"></i>-->
        <input type="password" id="password" name="password" [(ngModel)]="createUser.password" autocomplete="new-password" placeholder="Passwort">
        <!--<label for="password">Passwort</label>-->

        <br> <!-- TODO -->

        <button class="button" id="signUpButton">
          <i class="fa fa-sign-in"></i>
          Registrieren
        </button>
      </form>
    </div>
  </div>
</section>
