<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="product-image">
          <!--<img [src]="product.productImageUrl" [alt]="product.productName" width="100%" class="img-fluid rounded">-->
          <img src="assets/products/product-122.jpg" [alt]="product.productName" width="100%" class="img-fluid rounded">
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="product-title">{{product.productName}}</h2>
        <p class="price">€ <span>{{product.productPrice}}</span></p>
        <div class="product-detail">
          <h3>Details</h3>
          <table>
            <!--<tr>-->
              <!--<th>Nummer:</th>-->
              <!--<td>{{product.productId}}</td>-->
            <!--</tr>-->
            <tr>
              <th>Material:</th>
              <td>{{product.productMaterial}}</td>
            </tr>
            <tr>
              <th>Maße:</th>
              <td>{{product.productSize}}</td>
            </tr>
            <tr>
              <th>Stil:</th>
              <td>{{product.productStyle}}</td>
            </tr>
            <tr>
              <th>Herkunftsland:</th>
              <td>{{product.productOrigin}}</td>
            </tr>
            <tr>
              <th>Hersteller:</th>
              <td>{{product.productManufacturer}}</td>
            </tr>
            <tr>
              <th>Designer:</th>
              <td>{{product.productDesigner}}</td>
            </tr>
            <tr>
              <th>Jahr:</th>
              <td>{{product.productTime}}</td>
            </tr>
            <tr>
              <th>Zustand:</th>
              <td>{{product.productCondition}}</td>
            </tr>
            <!--<tr>-->
              <!--<th>Product Added on:</th>-->
              <!--<td>{{product.productAdded * 1000 | date}}</td>-->
            <!--</tr>-->
          </table>
        </div>
        <button class="button">In den Warenkorb</button>
      </div>
    </div>
  </div>
</section>
