<section>
  <div class="container">
  <span class="breadcrumb">
    <a routerLink="/index">Home</a> > <a routerLink="/produkte/alle-produkte">Produkte</a> > {{product.productName}}
  </span>
    <div class="row">
      <div class="info-column content-article content-article-main col-sm-6 col-xs-12">
        <h2 class="product-title content-article-heading">{{product.productName}}</h2>

        <p class="price">
          <span *ngIf="product.productDiscount !== 0" class="discount">{{product.productPrice - (product.productPrice * (product.productDiscount/100))}} €</span>
          <span [class.linethrough]="product.productDiscount !== 0">{{ product.productPrice }} €</span>
        </p>

        <div class="product-detail">
          <table>
            <tr *ngIf="product.productDescription ">
              <th>Beschreibung:</th>
              <td>{{product.productDescription}}</td>
            </tr>
            <tr>
              <th>Artikelnummer:</th>
              <td>{{product.productId}}</td>
            </tr>
            <tr>
              <th>Kategorie:</th>
              <td>{{product.productCategory}}</td>
            </tr>
            <tr *ngIf="product.productMaterial">
              <th>Material:</th>
              <td>{{product.productMaterial}}</td>
            </tr>
            <tr *ngIf="product.productSize">
              <th>Maße:</th>
              <td>{{product.productSize}}</td>
            </tr>
            <tr *ngIf="product.productStyle">
              <th>Stil:</th>
              <td>{{product.productStyle}}</td>
            </tr>
            <tr *ngIf="product.productOrigin">
              <th>Herkunftsland:</th>
              <td>{{product.productOrigin}}</td>
            </tr>
            <tr *ngIf="product.productManufacturer">
              <th>Hersteller:</th>
              <td>{{product.productManufacturer}}</td>
            </tr>
            <tr *ngIf="product.productDesigner">
              <th>Designer:</th>
              <td>{{product.productDesigner}}</td>
            </tr>
            <tr *ngIf="product.productTime">
              <th>Jahr:</th>
              <td>{{product.productTime}}</td>
            </tr>
            <tr *ngIf="product.productCondition">
              <th>Zustand:</th>
              <td>{{product.productCondition}}</td>
            </tr>
            <tr *ngIf="product.productAvailable === true">
              <th>Verfügbarkeit:</th>
              <td class="seagreen bold">Ab sofort lieferbar!</td>
            </tr>
            <tr>
              <th>Versandkosten:</th>
              <td>{{product.productShippingCost}}</td>
            </tr>
            <tr *ngIf="product.productAvailable === false">
              <th>Verfügbarkeit:</th>
              <td>2 - 4 Wochen</td>
            </tr>
            <!--<tr>-->
            <!--<th>Product Added on:</th>-->
            <!--<td>{{product.productAdded * 1000 | date}}</td>-->
            <!--</tr>-->
          </table>
        </div>

      </div>
      <div class="main-image-column col-sm-6 col-xs-12">
        <div class="product-image">
          <!--<img [src]="product.productImageUrl" [alt]="product.productName" width="100%" class="img-fluid rounded">-->
          <div *ngIf="product.productSold" class="corner-ribbon shadow top-right red">Verkauft</div>
          <img [src]="product.productImageUrl" [alt]="product.productName" width="100%">
        </div>

        <button (click)="addToCart(product)" class="button button-primary margin">In den Warenkorb</button>
        <button (click)="addFavourite(product)" class="button button-secondary">Auf die Wunschliste</button>

        <p *ngIf="product.productSold" class="margin colored">
          Dieser Artikel ist bereits verkauft. Falls Sie interesse an diesem oder einem ähnlichen Objekt haben, nehmen Sie bitte Kontakt mit uns auf und wir beschaffen Ihnen ein noch Schöneres.
        </p>
      </div>
    </div>

    <div class="additional-pictures">
      <img class="additional-images" [src]="product.productImageUrl2" alt="">
      <img class="additional-images" [src]="product.productImageUrl3" alt="">
      <img class="additional-images" [src]="product.productImageUrl4" alt="">
      <img class="additional-images" [src]="product.productImageUrl5" alt="">
      <img class="additional-images" [src]="product.productImageUrl6" alt="">
      <img class="additional-images" [src]="product.productImageUrl7" alt="">
      <img class="additional-images" [src]="product.productImageUrl8" alt="">
    </div>

  </div>
</section>

<app-service-list></app-service-list>
