.info-column {
  h2 {
    line-height: 1.2em;
  }

  .product-title {
    font-size: 4em;
    margin: 0;
  }

  .price {
    font-weight: bold;
    display: inline;
    font-size: 1.5em;
    margin-right: 1em;
    float: right;
    span {
      font-size: 2em;
    }
    .discount {
      margin-right: .5em;
      color: #d31111;
    }
    .linethrough {
      font-size: 1.2em;
    }
  }

  .product-detail table tr th {
    vertical-align: top;
  }
}

.main-image-column {

  .product-image {
    position: relative;
    overflow: hidden;

    img {
      width: 90%;
      margin-left: 10%;
    }
  }
}

span a {
  color: #333333;
}

.additional-images {
  width: 30%;
  margin-right: 3.3%;
  margin-top: 1.5em;
}

.breadcrumb,
.breadcrumb a{
  color: #d31111;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

.margin {
  margin-left: 10%;
  margin-top: 1.5em;
}
