<section class="content-section no-background">

  <div class="background-image"></div>

  <article class="container">
    <h3>Über Zeitlos<span class="colored">.</span></h3>
    <div class="grey lead">
      <p>
        Immer wieder neu sind wir tief berührt von der ausdrucksstarken Bescheidenheit zeitloser Stilmöbel des Art Dèco, des Bauhaus oder der Moderne. Wenige Linien, viel durchdachter Nutzwert, dennoch eine formschöne Silhouette. Damit identifizieren wir uns, und damit möchten wir unsere langjährigen wie hinzukommenden Kunden bundesweit inspirieren.
      </p>
      <p>
        Lassen Sie sich Ihr Designobjekt probeweise direkt bei Ihnen zu Hause aufstellen; lassen Sie uns erforderlichenfalls Ihr betagtes Exemplar originalgetreu restaurieren; – wir können sogar stimmige Replikationen bis ins Detail vorbildgerecht ganz persönlich für Sie neu anfertigen.
      </p>
      <p>
        Wir sind als Familie seit Jahren der Tradition originalgetreuer Handwerkskunst verbunden. Es gibt keinen Anspruch, dem wir nicht gerecht werden, denn wir sind uns selbst verpflichtet zu solider Qualität auf altmeisterlichem Niveau.
      </p>
      <strong>
        Wir freuen uns auf Ihr ästhetisches Empfinden.
      </strong>
    </div>
  </article>

</section>

