section {
  padding-bottom: 0;
  margin-bottom: -6em;
}
.background-image {
  background-image: url('../../../assets/about/ausstellung.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -100px;
  width: 100vw;
  height: 300px;

  @media(min-width: 768px) {
    background-position: 0px -558px;
  }
}

article {
  padding: 4em;
  background: darken(white, 12%);
  margin: 0 auto;
  position:relative;
  bottom: 7em;
}
