<section class="content-section dark-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <p class="highlighted">Bauhaus Klassiker</p>
        <h1 class="mn">Wassily Stahlrohrsessel</h1>
        <p class="lead">Marcel Breuer</p>
        <button class="button button-primary">
          <a href="javascript:;;" [routerLink]="[ '/products/all-products' ]">Jetzt entdecken</a>
        </button>
      </div>

      <div class="col-sm-5 right-side">
        <img src="assets/img/wassili.png" alt="" />
      </div>
    </div>
  </div>
</section>

<app-category-teaser></app-category-teaser>

<app-consulting></app-consulting>

<app-about-us></app-about-us>

<app-service-list></app-service-list>
