<section class="content-section">

  <div class="container">
      <div class="col-sm-6">
        <h1 class="mn">10% Rabatt auf alles!</h1>
        <p class="lead-text">Alle Stücke stark reduziert. Wählen Sie jetzt aus einer vielfältigen Auswahl von Design Klassikern. Lassen Sie sich inspirieren von den exklusiven Stücken des Bauhaus, Art Deco und der Moderne.</p>
        <button class="button button-primary">
          <a href="javascript:;;" [routerLink]="[ '/products/all-products' ]">Lassen Sie sich inspirieren</a>
        </button>
      </div>

      <div class="col-sm-6">
        <img src="http://placeimg.com/640/360/any" alt="" />
      </div>
  </div>

  <!--<div class="container">-->
    <!--<app-best-product></app-best-product>-->
  <!--</div>-->
</section>
