<div class="container">
  <h1>Ihr Profil</h1>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list">
        <li>
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['favourite-products']}}]">Ihre Wunschliste</a>
        </li>
        <li>
          <a [routerLink]="['/users', {outlets: {'profileOutlet': ['cart-items']}}]">Ihr Warenkorb</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <router-outlet name="profileOutlet"></router-outlet>
    </div>
  </div>
</div>
