<footer class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4 class="list-heading heading-with-text footer-brand">Zeitlos<span class="colored">.</span></h4>
        <p class="footer-description">
          Objekte des 20. Jahrhunderts. Klassiker des Bauhaus, des Art Deco und der Moderne.
        </p>

        <ul class="list black">
          <li>Suarezstraße 61</li>
          <li>14057 Berlin </li>
          <li class="list-divider"></li>
          <li>030 / 32 76 90 60</li>
          <li>0172 / 525 25 31</li>
          <li>info@zeitlos-artd.de</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4 class="list-heading heading-with-text">Öffnungszeiten</h4>
        <ul class="list">
          <li>Mo: 13- 18 Uhr</li>
          <li>Di: 13- 18 Uhr</li>
          <li>Mi: 13- 18 Uhr</li>
          <li>Do: 13- 18 Uhr</li>
          <li>Fr: 13- 18 Uhr</li>
          <li>Sa: 11- 16 Uhr</li>
          <li>So: geschlossen</li>
        </ul>
      </div>
      <div class="col-xs-12 sm-hide col-md-2">
        <h4 class="list-heading heading-with-text">Kategorien</h4>
        <ul class="list">
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Tische' ]">
              Tische
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Lampen' ]">
              Lampen
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Stühle' ]">
              Stühle
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Sessel' ]">
              Sessel
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Schränke' ]">
              Schränke
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Sofas' ]">
              Sofas
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Regale' ]">
              Regale
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Gemälde' ]">
              Gemälde
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Gläser' ]">
              Gläser
            </a>
          </li>
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/produkte/Vasen' ]">
              Vasen
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4 class="list-heading heading-with-text">Seiten</h4>
        <ul class="list">
          <li>
            <a class="active" href="javascript:;;" [routerLink]="[ '/' ]">
              Home
            </a>
          </li>
          <li>
            <a href="javascript:;;" [routerLink]="[ '/produkte/alle-produkte' ]">
              Objekte
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:;;" [routerLink]="['/index/impressum']">
              Impressum
            </a>
          </li>
          <li>
            <a href="javascript:;;" [routerLink]="['/index/datenschutz']">
              Datenschutz
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 sm-hide col-md-2">
        <h4 class="list-heading heading-with-text">Mein Konto</h4>
        <ul class="list">
          <li *ngIf="authService.isLoggedIn()">
            <a [routerLink]="['/users']">
              Mein Konto
              <!--Mein Konto-->
            </a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink]="[ '/index/login' ]">
              Mein Konto
              <!--Login/ Registration-->
            </a>
          </li>
          <li class="list-divider"></li>
          <li>
            <a href="javascript:;;" [routerLink]="['/products/favourite-products']">
              Wunschliste
            </a>
          </li>
          <li>
            <a href="javascript:;;" [routerLink]="['/products/cart-items']">
              Warenkorb
            </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2 col-follow">
        <h4 class="list-heading heading-with-text">Folgen Sie Uns</h4>
        <a class="follow-brand" href="https://www.facebook.com/zeitlosdrozd/" target="_blank">
          <img src="assets/footer/fb.png" alt="Facebook Logo">
        </a>
        <a class="follow-brand" href="https://www.pinterest.com/artdmoebel/" target="_blank">
          <img src="assets/footer/pinterest.png" alt="Pinterest Logo">
        </a>
        <a class="follow-brand" href="https://www.houzz.de/pro/artur-drozd/artur-drozd-moebelmanufaktur" target="_blank">
          <img src="assets/footer/houzz.png" alt="Houzz Logo">
        </a>
        <div class="ssl">
          <i class="fa fa-3x fa-lock"></i>
          <span>Sichere Transaktionen durch SSL Verschlüsselung.</span>
        </div>
      </div>
    </div>

    <p>
      Copyright Zeitlos ® Alle Rechte vorbehalten |  Design und Entwicklung von Philip Drozd
    </p>
  </div>
</footer>
