<h3>
  <span class="text-muted">Ihr Warenkorb</span>
  <span class="round-badge">{{products.length}}</span>
</h3>
<ul class="item-list">
  <li *ngFor="let product of products">
    <div>
      <h4>{{product.productName}}</h4>
    </div>
    <span class="text-muted">€ {{product.productPrice}}</span>
  </li>
  <hr>
  <li>
    <span>Total (INR)</span>
    <strong>€ {{totalValue}}</strong>
  </li>

</ul>
<a class="mr button button-primary" [routerLink]="['/checkouts']">Zur Kasse</a>
<a class="mr button" [routerLink]="['/products/all-products']">Zum Shop</a>
