<h3>
  <span class="text-muted">Ihr Einkaufswagen</span>
  <span class="badge">{{products.length}}</span>
</h3>
<ul class="item-list">
  <li *ngFor="let product of products">
    <div>
      <h4>{{product.productName}}</h4>
    </div>
    <span class="text-muted">€ {{product.productPrice}}</span>
  </li>
  <hr>
  <li>
    <span>Total (INR)</span>
    <strong>€ {{totalValue}}</strong>
  </li>
  <a class="button-primary" [routerLink]="['/checkouts']">Bezahlen</a>
  <a class="button-default" [routerLink]="['/products/all-products']">Zum Shop</a>

</ul>
