<section class="container">
  <div class="row">
    <div class="col-sm-6 col-xm-12">
      <a class="category-teaser" routerLink="/products/Tische" routerLinkActive="active">
        <h2>Tische</h2>
        <p>Ess- und Schreibtische</p>
        <button class="highlighted">Jetzt entdecken</button>
        <img src="../assets/categories/tische.png" alt="Das Foto zeigt einen Bauhaus Schreibtisch entworfen von Rudolf Vichr. Er verfügt über zwei Kontainer.">
      </a>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xm-12">
        <a class="category-teaser" routerLink="/products/Tische" routerLinkActive="active">
          <h2>Schränke</h2>
          <p>Sideboards und Kommoden</p>
          <button class="highlighted">Jetzt entdecken</button>
          <img src="../assets/categories/kommoden.png" alt="Das Foto zeigt zeigt ein klassisches Sideboard.">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xm-12">
      <a class="category-teaser dark-background" routerLink="/products/Tische" routerLinkActive="active">
        <h2>Sofas</h2>
        <p>Sessel und Sitzmöbel</p>
        <button class="highlighted">Jetzt entdecken</button>
        <img src="../assets/categories/sofas.png" alt="Das Foto zeigt einen Bauhaus Schreibtisch entworfen von Rudolf Vichr. Er verfügt über zwei Kontainer.">
      </a>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xm-12">
        <a class="category-teaser" routerLink="/products/Tische" routerLinkActive="active">
          <h2>Leuchten</h2>
          <p>Klassische Bauhaus Tisch- und Standleuchten</p>
          <button class="highlighted">Jetzt entdecken</button>
          <img src="../assets/categories/iluminators.png" alt="Das Foto zeigt zeigt ein klassisches Sideboard.">
        </a>
      </div>
    </div>
  </div>
</section>
