.category-teaser {
  display: block;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 95%;
  height: 35em;
  background: darken(white, 10%);
  border: 1px solid darken(#e2e2e2, 5%);
  text-align: center;
  overflow: hidden;

  .content-article {
    &-heading {
      margin: 1em 0 0 0;
    }
  }
  button {
    color: #0e78d9;
    border: none;
    background: none;
    font-size: 1.6em;
  }
  img {
    width: 80%;
    height: auto;
  }

  &.dark-background {
    background: #474747;

    h2 {
      color: white;
    }
    p {
      color: darken(white, 12%);
    }
  }
}
