<section class="container">
  <div class="row">
    <article class="content-article content-article-main col-sm-6 col-xs-12 align-center">
      <a class="category-teaser" routerLink="/produkte/Tische" routerLinkActive="active">
        <h2 class="content-article-heading">Tische</h2>
        <p class="content-article-text">Ess- und Schreibtische</p>
        <button class="highlighted">Jetzt entdecken</button>
        <img src="assets/categories/tische.png" alt="Das Foto zeigt einen Bauhaus Schreibtisch entworfen von Rudolf Vichr. Er verfügt über zwei Kontainer.">
      </a>
    </article>
    <article class="content-article content-article-main align-center">
      <div class="col-sm-6 col-xs-12">
        <a class="category-teaser" routerLink="/produkte/Schränke" routerLinkActive="active">
          <h2 class="content-article-heading">Schränke</h2>
          <p class="content-article-text">Sideboards und Kommoden</p>
          <button class="highlighted">Jetzt entdecken</button>
          <img src="assets/categories/kommoden.png" alt="Das Foto zeigt zeigt ein klassisches Sideboard.">
        </a>
      </div>
    </article>
  </div>
  <div class="row">
    <article class="content-article content-article-main col-sm-6 col-xs-12">
      <a class="category-teaser dark-background" routerLink="/produkte/Sofas" routerLinkActive="active">
        <h2 class="content-article-heading">Sofas</h2>
        <p class="content-article-text">Sessel und Sitzmöbel</p>
        <button class="highlighted">Jetzt entdecken</button>
        <img src="assets/categories/sofas.png" alt="Das Foto zeigt einen Bauhaus Schreibtisch entworfen von Rudolf Vichr. Er verfügt über zwei Kontainer.">
      </a>
    </article>
    <div class="row">
      <article class="content-article content-article-main col-sm-6 col-xs-12">
        <a class="category-teaser" routerLink="/produkte/Lampen" routerLinkActive="active">
          <h2 class="content-article-heading">Leuchten</h2>
          <p class="content-article-text">Klassische Bauhaus Tisch- und Standleuchten</p>
          <button class="highlighted">Jetzt entdecken</button>
          <img src="assets/categories/iluminators.png" alt="Das Foto zeigt zeigt ein klassisches Sideboard.">
        </a>
      </article>
    </div>
  </div>
</section>
