//@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/core/_neat';

// Variables
$gray: lighten(#e2e2e2, 8%);
$color-primary: #d31111;
$color-secondary: #0e78d9; // blue
$color-success: palegreen;
$font-color-default: black;
$font-color-default-light: white;
$font-color-grey: #626262;
$font-color-inactive: #626262; // grey
$background-color-dark: #474747;

// Media queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// General
body {
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  margin: 0;
}
button,
input
{
  font-family: 'Krub', sans-serif;
}
div {
  //overflow: auto;
}

h1 {
  //text-transform: uppercase;
  margin-bottom: 0;
  font-size: 3em;
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
}

section {
  margin: 2.5vh 0;
  padding: 2.5vh 0;
}

// Margins / Paddings
.mr {
  margin-right: 1em;
}
.mt {
  margin-top: 1em;
}
.mn {
  margin: 0;
}

// Fonts
.heading-with-text {
  margin: .5em 0;
}

// Buttons
.button-container {
  margin-top: 2em;
}
.button {
  //padding: .8em 2.2em;

  text-transform: uppercase;
  background: transparent;
  border: 1px solid $font-color-default;
  cursor: pointer;
  letter-spacing: .1em;

  font-weight: normal;
  font-size: 1em;
  padding: .6em 1.9em;
  margin: .5em 1em .5em 0;
}
.button-primary {
  letter-spacing: .13em;
  background-color: $color-primary;
  color: white;
  border: 1px solid darken($color-primary, 5%);

  a {
    color: white;
  }
  .dark-background & {
    background-color: $color-secondary;
    border: 1px solid darken($color-secondary, 5%);
  }
}

.button-secondary {
  letter-spacing: .1em;
  background-color: $background-color-dark;
  color: white;
  border: 1px solid darken($background-color-dark, 5%);

  a {
    color: white;
  }
  //.dark-background & {
  //  background-color: $color-secondary;
  //  border: 1px solid darken($color-secondary, 5%);
  //}
}

.button-lead {
  padding: .4em 1.2em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

// Lists
.list-heading {
  font-size: 1.4em;
}
.list {
  padding-left: 0;

  li {
    list-style-type: none;
    line-height: 1.7em;
    //color: $font-color-inactive;

    &.active {
      color: $font-color-default;
    }

    a {
      color: $font-color-grey;
    }
  }
}
.list-light-background {

}

.filter {
  a,
  h2 {
    text-transform: uppercase;
    line-height: 2em;
  }
}

// Tables
table {
  width: 100%;
  tr {
    //border-collapse: separate;
    //border-spacing: 3em;
    padding: 30em 0;
    th {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      padding: 0 4em .8em 0;
    }
    td {

    }
  }
}

// Forms
form.form {
  padding-right: 10em;

  h2,
  h3 {
    font-size: 1.8em;
    margin: 1em 0;
  }

  input {
    border: none;
    //outline: none;
    border-bottom: 1px solid $font-color-inactive;
    color: $font-color-inactive;
    margin: 1em 0;
    font-size: 1em;
    width: 100%;
    padding: 0 0 .8em 0;
    text-transform: uppercase;
  }

}

// Content containers
.content-section {
  margin: 3vh 0;
  padding: 5vh 0;
  background: $gray;
  overflow: hidden;
  &.no-background {
    background: transparent;
  }

  h1 {
    font-size: 3.8em;
    margin-bottom: -.2em
  }
  .lead {
    font-size: 3.8em;
    margin-top: 0;
    margin-bottom: .5em;
  }
  .highlighted {
    font-size: 1.7em;
    letter-spacing: .15em;
    margin-bottom: 0.4em
  }
  .right-side {
    position: relative;

    img {
      position: absolute;
    }
  }
}

.dark-background {
  background: $background-color-dark;
  color: $font-color-default-light;

  .lead {
    color: darken($font-color-default-light, 20%);
  }
  .highlighted {
    color: darken($font-color-default-light, 20%);
  }
  .button-primary {
    background: $color-secondary;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Flex
.space-between {
  display: flex;
  justify-content: space-between;
}

// Modifiers
.highlighted {
  text-transform: uppercase;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.colored {
  color: $color-primary;
}
.grey {
  color: $font-color-grey;
}
.block {
  display: block;
}
.rounded {
  border-radius: 50%;
}
.float-right {
  float: right;
  text-align: right;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.round-badge {
  background-color: $color-primary;
  border-radius: 100%;
  min-height: 22px;
  min-width: 22px;
  padding-left: 8px;
  padding-top: 5px;
  font-size: .6em;
  color: white;
  position: absolute;
  font-weight: bold;
  bottom: 13px;
  left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  text-align: left;
}

// Grid
$neat-grid: (
  columns: 12,
  gutter: 0px,
);

.row {
  @include grid-container;
}

.col-sm-1 {
  @include grid-column(1);
}

.col-sm-2 {
  @include grid-column(2);
}

.col-sm-3 {
  @include grid-column(3);
}

.col-sm-4 {
  @include grid-column(4);
}

.col-sm-5 {
  @include grid-column(5);
}

.col-sm-6 {
  @include grid-column(6);
}

.col-sm-7 {
  @include grid-column(7);
}

.col-sm-8 {
  @include grid-column(8);
}

.col-sm-9 {
  @include grid-column(9);
}

.col-sm-10 {
  @include grid-column(10);
}

.col-sm-11 {
  @include grid-column(11);
}

.col-sm-12 {
  @include grid-column(12);
}

@media (max-width: $md) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    @include grid-column(12);
  }
}

.row1 {
  @include grid-collapse;
}

.toast-text {
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 1.1em;
  padding: 1em 0;
  bottom: 0;
  color: white;
  background: #0e78d9;
  //background: rgba(120, 238, 151, 0.9);
  border-top: 1px solid darken($color-success, 20%);
}
