//@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/core/_neat';

// Variables
$gray: lighten(#e2e2e2, 8%);
$color-primary: #d31111;
$color-secondary: #34b0a0; // turkise
$font-color-default: black;
$font-color-inactive: #626262; // grey


// General
body {
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  margin: 0;
}
button,
input
{
  font-family: 'Krub', sans-serif;
}
div {
  //overflow: auto;
}

h1 {
  //text-transform: uppercase;
  margin-bottom: 0;
  font-size: 3em;
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
}

section {
  margin: 2.5vh 0;
  padding: 2.5vh 0;
}

// Margins / Paddings
.mr {
  margin-right: 1em;
}
.mt {
  margin-top: 1em;
}
.mn {
  margin: 0;
}

// Fonts
.heading-with-text {
  margin: .5em 0;
}

// Buttons
.button {
  padding: 1em 2em;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid $font-color-default;
  cursor: pointer;
  letter-spacing: .05em;
  font-size: 1.1em;
}
.button-primary {
  background-color: $color-secondary;
  color: white;
  border: 1px solid darken($color-secondary, 5%);

  a {
    color: white;
  }
}

// Lists
.list-heading {
  font-size: 1.4em;
}
.list {
  padding-left: 0;

  li {
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2em;
    color: $font-color-inactive;

    &.active {
      color: $font-color-default;
    }
  }
}

// Tables
table {
  tr {
    //border-collapse: separate;
    //border-spacing: 3em;
    padding: 30em 0;
    th {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      padding: 0 4em .8em 0;
    }
    td {

    }
  }
}

// Forms
form.form {
  padding-right: 10em;

  h2,
  h3 {
    font-size: 1.8em;
    margin: 1em 0;
  }

  input {
    border: none;
    //outline: none;
    border-bottom: 1px solid $font-color-inactive;
    color: $font-color-inactive;
    margin: 1em 0;
    font-size: 1em;
    width: 100%;
    padding: 0 0 .8em 0;
    text-transform: uppercase;
  }

}

// Content containers
.content-section {
  margin: 3vh 0;
  padding: 5vh 0;
  //background: #ededed;
  background: $gray;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Flex
.space-between {
  display: flex;
  justify-content: space-between;
}

// Miscellanous
.highlighted {
  text-transform: uppercase;
  font-weight: bold;
}
.block {
  display: block;
}

.float-right {
  float: right;
}

.round-badge {
  background-color: $color-primary;
  border-radius: 100%;
  min-height: 22px;
  min-width: 22px;
  padding-left: 8px;
  padding-top: 5px;
  font-size: .6em;
  color: white;
  position: absolute;
  font-weight: bold;
  bottom: 13px;
  left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.rascal {
  display: block;
  height: 100%;
  width: 100%;
}

// Grid
$neat-grid: (
  columns: 12,
  gutter: 0px,
);

.col-sm-3 {
  @include grid-column(3);
}

.col-sm-4 {
  @include grid-column(4);
}

.col-sm-6 {
  @include grid-column(6);
}

.col-sm-8 {
  @include grid-column(8);
}

.col-sm-9 {
  @include grid-column(9);
}
.row1 {
  @include grid-collapse;
}
