// Variables
$gray: lighten(#e2e2e2, 8%);
$color-medium: darken(#e2e2e2, 5%);
$color-primary: #d31111;
$color-secondary: #0e78d9; // blue
$color-success: palegreen;
$font-color-default: lighten(black, 25%);
$font-color-default-light: white;
$font-color-grey: #626262;
$font-color-inactive: #626262; // grey
$background-color-dark: #474747;

$font-size-default: .9em;
$font-size-h1: $font-size-default * 3;
$font-size-h2: $font-size-default * 2;
$font-size-h3: $font-size-default * 1.5;
$font-size-lead: $font-size-default * 1.2;

$font-size-article-secondary-heading: $font-size-default * 1.2;
$font-size-article-text: 1em;

// Media queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
