<section *ngIf="!cookiesAccepted">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <p>
          Zeitlos benutzt Cookies, um Ihnen die bestmögliche Nutzererfahrung
          zu bieten. Weiterführende Informationen finden Sie in unserer
          <a href="index/datenschutz">Datenschutzerklärung</a>.
        <p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <button class="button button-invert" (click)="accept()">Verstanden!</button>
      </div>
    </div>


  </div>
</section>
